SECRET_KEY='CHANGE_ME_SECRET_KEY'

POSTGRES_USER=CHANGE_ME_DB_USER
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
POSTGRES_DB=CHANGE_ME_DB_NAME
POSTGRES_PORT=5432
POSTGRES_HOST=CHANGE_ME_DB_HOST

CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
ACCESS_TOKEN_LIFETIME=5
REFRESH_TOKEN_LIFETIME=7

SPECTACULAR_SERVERS=http://127.0.0.1:8001/auth,http://127.0.0.1:8001
PLUSOFON_WEBHOOK_TOKEN=CHANGE_ME_PLUSOFON_TOKEN

REDIS_URL=redis://redis:6379/1
REDIS_CHANNELS_URL=redis://redis:6379/2
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_TASK_ALWAYS_EAGER=False
CACHE_BACKEND=django_redis.cache.RedisCache
CACHE_LOCATION=redis://redis:6379/1
CACHE_TIMEOUT=300
CACHE_KEY_PREFIX=django_template

OPENSEARCH_URL=http://opensearch:9200
OPENSEARCH_INDEX_BUSINESSES=businesses
OPENSEARCH_INDEX_PRODUCTS=products
OPENSEARCH_INDEX_BOARD=board_listings

# Optional for local Windows runs if GDAL/GEOS are not auto-detected.
# Example:
# GDAL_LIBRARY_PATH=C:\OSGeo4W\bin\gdal308.dll
# GEOS_LIBRARY_PATH=C:\OSGeo4W\bin\geos_c.dll
# PROJ_LIB=C:\OSGeo4W\share\proj
# GDAL_DATA=C:\OSGeo4W\share\gdal