SECRET_KEY='aag24@21sdg!42fasSFAS'

POSTGRES_USER=postgres
POSTGRES_PASSWORD=burning31
POSTGRES_DB=database
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
ACCESS_TOKEN_LIFETIME=5
REFRESH_TOKEN_LIFETIME=7

SPECTACULAR_SERVERS=http://127.0.0.1:8001/auth,http://127.0.0.1:8001