Django==5.1.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
requests==2.31.0
python-dotenv==1.0.0
django-cors-headers==4.3.1
djoser==2.2.2
django-simple-history==3.7.0
django-dump-load-utf8==0.0.4
django-codemirror2==0.2
django-jsoneditor==0.2.4
psycopg2-binary==2.9.9
gunicorn==21
django-filter==23.1
drf-spectacular==0.29.0
flake8==7.3.0